<div style="margin-top: 80px; margin-bottom: 80px">
	<div class="col" style="position: relative">
		<div
			class="text-center text-title"
			style="margin-top: 60px; margin-bottom: 60px"
		></div>

		<div
			class="container text-center d-flex flex-column justify-content-center"
			style="margin-top: 30px; margin-bottom: 40px"
		>
			<div class="row d-flex align-items-center">
				<div
					class="col-md-5 d-flex flex-column justify-content-center align-items-center"
					style="margin-right: -80px; z-index: 1"
				>
					<div
						class="col-lg-12 col-md-12 col-sm-12 text-center img-hover-zoom"
					>
						<img
							src="../assets/images/skin29.jpg"
							class="img-fluid"
							alt="Image"
						/>
					</div>
				</div>
				<div
					class="col-md-7 text-justify d-flex flex-column justify-content-center align-items-center custom"
					style="
						color: black;
						color: #47347a;
						font-weight: 400;
						font-size: 15px;
						line-height: 200%;
						background-color: #4396d549;
					"
				>
					<h4 class="display-4" style="color: black">Burning Mark</h4>

					<p class="lead text-muted mb-0" style="text-align: justify">
						As part of our wellness therapy we also offer body firming
						program. This will help you to shapeup and accentuate your
						figure. We have professional who can help you with the
						process. The program will help you to gain a firm shape
						and iron out the signs of sagging. When you loose weight,
						sagging is a problem that you face often. With our body
						firming program you can get over with this problem.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
