<div
  class="d-flex flex-row justify-content-center align-items-center"
  style="width: 100vw; height: 100vh"
>
  <div class="col-md-2 text-center">
    <div>
      <img
        src="../../../assets/images/singla-slimming-clinic-logo.png"
        class="img-fluid"
        alt="Responsive image"
        style="height: auto; width: 100%; text-align: center"
      />
    </div>
    <div
      class="spinner-border mt-4"
      role="status"
      style="text-align: center; color: #967737"
    >
      <span class="sr-only"></span>
    </div>
  </div>
</div>

