<!-- <div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6 d-none d-lg-block">
        <img src="../assets/images/skin16.jpg" alt="" class="img-fluid" />
      </div>

      <div class="col-lg-6">
        <h4 class="display-4">Hydration Facial</h4>
        <p class="lead text-muted mb-0" style="text-align: justify">
          TREBHA WELLNESS received a 98% "Worth It Rating" on RealSelf." The
          Hydration Facial System using customisable tips and serums the
          Hydration Facial is a 7-in 1 Vacuum, Microdermabrasion and Infusion
          system skin tight that exfoliates, extracts, and infuses the skin all
          at the same time.It removes the very outer layer of skin cells, giving
          your skin a healthy, rosy glow and is the ideal solution to:
          <br />Benifits
        </p>
        <ul class="lead text-muted mb-0">
          <li>exfoliate and clean skin</li>
          <li>treat active acne</li>
          <li>clean pores and ectract blackheads</li>
          <li>improve skin tone and texture</li>
          <li>provides a healthy, soft glow to your skin</li>
        </ul>
      </div>
    </div>
  </div>
</div> -->

<div style="margin-top: 80px; margin-bottom: 80px">
    <div class="col" style="position: relative">
      <div
        class="text-center text-title"
        style="margin-top: 60px; margin-bottom: 60px"
      ></div>
  
      <div
        class="container text-center d-flex flex-column justify-content-center"
        style="margin-top: 30px; margin-bottom: 40px"
      >
        <div class="row d-flex align-items-center">
          <div
            class="col-md-5 d-flex flex-column justify-content-center align-items-center"
            style="margin-right: -80px; z-index: 1"
          >
            <div class="col-lg-12 col-md-12 col-sm-12 text-center img-hover-zoom">
              <img
                src="../assets/images/skin16.jpg"
                class="img-fluid"
                alt="Image"
              />
            </div>
          </div>
          <div
            class="col-md-7 text-justify d-flex flex-column justify-content-center align-items-center custom"
            style="
              color: black;
              color: #47347a;
              font-weight: 400;
              font-size: 15px;
              line-height: 200%;
              background-color: #ededff;
            "
          >
            <h4 class="display-4 Montserrat-Regular" style="color: black">Hydration Facial</h4>
  
            <p class="lead text-muted mb-0 Montserrat-Regular" style="text-align: justify">
              TREBHA WELLNESS received a 98% "Worth It Rating" on RealSelf." The
              Hydration Facial System using customisable tips and serums the
              Hydration Facial is a 7-in 1 Vacuum, Microdermabrasion and Infusion
              system skin tight that exfoliates, extracts, and infuses the skin
              all at the same time.It removes the very outer layer of skin cells,
              giving your skin a healthy, rosy glow and is the ideal solution to:
              <br />Benifits
            </p>
            <ul class="lead text-muted mb-0 Montserrat-Regular">
              <li>exfoliate and clean skin</li>
              <li>treat active acne</li>
              <li>clean pores and ectract blackheads</li>
              <li>improve skin tone and texture</li>
              <li>provides a healthy, soft glow to your skin</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  