<!-- <div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6 d-none d-lg-block">
        <img src="../assets/images/skin24.jpg" alt="" class="img-fluid" />
      </div>

      <div class="col-lg-6">
        <h4 class="display-4">Cryolipolysis</h4>
        <p class="lead text-muted mb-0" style="text-align: justify">
          What is Cryolipolysis ? Cryolipolysis, commonly referred to as fat
          freezing, is a monsurgical fat reduction procedure that uses cold
          temperature to reduce fat deposits in certain areas of the body. The
          procedure is designed to reduce localized fat deposits or bulges that
          do not respond to diet and exercise. It is not intended for people who
          are obese or significantly overweight. The technique has been patented
          under the name CoolSculpting.
        </p>
      </div>
    </div>

    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6 d-none d-lg-block">
        <img src="../assets/images/skin25.jpg" alt="" class="img-fluid" />
      </div>

      <div class="col-lg-6">
        <h4 style="font-weight: 300">
          There are many advantages to cryolipolysis
        </h4>
        <ul class="lead text-muted mb-0">
          <li>No surgical incision is required</li>
          <li>It is a low risk procedure.There is no risk of infection.</li>
          <li>The procedure can be performed on an outpatient basis.</li>
          <li>
            Patients do not need to be sedated or anaesthetised before undegoing
            the procedure.
          </li>
          <li>
            More than one area of the body may be treated in a single session.
          </li>
          <li>
            Most people can resume their normal daily activities immediately
            after treatment.
          </li>
          <li>The procedure can be performed on people of all ages</li>
          <li>
            There is no damage to nerve fibers, blood vessels, muscles, or
            lasting damaging to skin in the treatment area.
          </li>
          <li>
            Fat cells that have been damaged or destroyed are permanently
            removed from the body.
          </li>
          <li>
            Patients may experience an increase in self-esteem due to an
            improvement in their appearance.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> -->

<div style="margin-top: 80px; margin-bottom: 80px">
  <div class="col" style="position: relative">
    <div
      class="text-center text-title"
      style="margin-top: 60px; margin-bottom: 60px"
    ></div>

    <div
      class="container text-center d-flex flex-column justify-content-center"
      style="margin-top: 30px; margin-bottom: 40px"
    >
      <div class="row d-flex align-items-center">
        <div
          class="col-md-5 d-flex flex-column justify-content-center align-items-center"
          style="margin-right: -80px; z-index: 1"
        >
          <div class="col-lg-12 col-md-12 col-sm-12 text-center img-hover-zoom">
            <img
              src="../assets/images/skin24.jpg"
              class="img-fluid"
              alt="Image"
            />
          </div>
        </div>
        <div
          class="col-md-7 text-justify d-flex flex-column justify-content-center align-items-center custom"
          style="
            color: black;
            color: #47347a;
            font-weight: 400;
            font-size: 15px;
            line-height: 200%;
            background-color: #ededff;
          "
        >
          <h4 class="display-4 Montserrat-Regular" style="color: black">Cryolipolysis</h4>

          <p class="lead text-muted mb-0 Montserrat-Regular" style="text-align: justify">
            What is Cryolipolysis ? Cryolipolysis, commonly referred to as fat
            freezing, is a monsurgical fat reduction procedure that uses cold
            temperature to reduce fat deposits in certain areas of the body. The
            procedure is designed to reduce localized fat deposits or bulges
            that do not respond to diet and exercise. It is not intended for
            people who are obese or significantly overweight. The technique has
            been patented under the name CoolSculpting.
          </p>
          <h4 style="font-weight: 300" class="Montserrat-Regular">
            There are many advantages to cryolipolysis
          </h4>
          <ul class="lead text-muted mb-0 Montserrat-Regular">
            <li>No surgical incision is required</li>
            <li>It is a low risk procedure.There is no risk of infection.</li>
            <li>The procedure can be performed on an outpatient basis.</li>
            <li>
              Patients do not need to be sedated or anaesthetised before
              undegoing the procedure.
            </li>
            <li>
              More than one area of the body may be treated in a single session.
            </li>
            <li>
              Most people can resume their normal daily activities immediately
              after treatment.
            </li>
            <li>The procedure can be performed on people of all ages</li>
            <li>
              There is no damage to nerve fibers, blood vessels, muscles, or
              lasting damaging to skin in the treatment area.
            </li>
            <li>
              Fat cells that have been damaged or destroyed are permanently
              removed from the body.
            </li>
            <li>
              Patients may experience an increase in self-esteem due to an
              improvement in their appearance.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
