<!-- <div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6 d-none d-lg-block">
        <img src="../assets/images/skin18.jpg" alt="" class="img-fluid" />
      </div>

      <div class="col-lg-6">
        <h4 class="display-4">Oliy Skin / Open pours Treatment</h4>
        <p class="lead text-muted mb-0" style="text-align: justify">
          Experience the newest generation of radio frequency the most versatile
          and sophisticated oily skin treatment experience that offers immediate
          results with no social downtime. trebha wellness & aesthetics is proud
          to offer this minimally-invasive treatment that leads to greater
          collagen remodelling, tightening, and collagen production.The VirtueRF
          goes beyond treating wrinkles and fine lines, minimising sun spots and
          damage, and improving skin tone and texture with virtually no social
          downtime. It is a game-changer due to it offering a much more
          comfortable treatment experience then previous micro-needling
          technology without scarificing power and improving results !
        </p>
      </div>
    </div>

    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6 d-none d-lg-block">
        <img src="../assets/images/skin19.jpg" alt="" class="img-fluid" />
      </div>

      <div class="col-lg-6">
        <h4 style="font-weight: 300">Finally....</h4>
        <p class="lead text-muted mb-0" style="text-align: justify">
          A laser treatment for every season and every skin type - winter,
          spring, summer and fall. Take care of your skin & enjoy your summer -
          It's a laser treatment for all seasons! Dark or fair and every
          skin-tone in-between, you can feel confident that the It is approved
          for all skin types!
        </p>
      </div>
    </div>
  </div>
</div> -->

<div style="margin-top: 80px; margin-bottom: 80px">
  <div class="col" style="position: relative">
    <div
      class="text-center text-title"
      style="margin-top: 60px; margin-bottom: 60px"
    ></div>

    <div
      class="container text-center d-flex flex-column justify-content-center"
      style="margin-top: 30px; margin-bottom: 40px"
    >
      <div class="row d-flex align-items-center">
        <div
          class="col-md-5 d-flex flex-column justify-content-center align-items-center"
          style="margin-right: -80px; z-index: 1"
        >
          <div class="col-lg-12 col-md-12 col-sm-12 text-center img-hover-zoom">
            <img
              src="../assets/images/skin18.jpg"
              class="img-fluid"
              alt="Image"
            />
          </div>
        </div>
        <div
          class="col-md-7 text-justify d-flex flex-column justify-content-center align-items-center custom"
          style="
            color: black;
            color: #47347a;
            font-weight: 400;
            font-size: 15px;
            line-height: 200%;
            background-color: #ededff;
          "
        >
          <h4 class="display-4 Montserrat-Regular" style="color: black">
            Oliy Skin / Open pours Treatment
          </h4>

          <p class="lead text-muted mb-0 Montserrat-Regular" style="text-align: justify">
            Experience the newest generation of radio frequency the most
            versatile and sophisticated oily skin treatment experience that
            offers immediate results with no social downtime. trebha wellness &
            aesthetics is proud to offer this minimally-invasive treatment that
            leads to greater collagen remodelling, tightening, and collagen
            production.The VirtueRF goes beyond treating wrinkles and fine
            lines, minimising sun spots and damage, and improving skin tone and
            texture with virtually no social downtime. It is a game-changer due
            to it offering a much more comfortable treatment experience then
            previous micro-needling technology without scarificing power and
            improving results !
          </p>
          <h4 style="font-weight: 300" class="Montserrat-Regular">Finally....</h4>
          <p class="lead text-muted mb-0 Montserrat-Regular" style="text-align: justify">
            A laser treatment for every season and every skin type - winter,
            spring, summer and fall. Take care of your skin & enjoy your summer
            - It's a laser treatment for all seasons! Dark or fair and every
            skin-tone in-between, you can feel confident that the It is approved
            for all skin types!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
