<!-- <div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6 d-none d-lg-block">
        <img src="../assets/images/skin23.jpg" alt="" class="img-fluid" />
      </div>

      <div class="col-lg-6">
        <h4 class="display-4">Unwanted Hair Treatment</h4>
        <ul class="lead text-muted mb-0">
          <li>Painless, truly comfortable treatments that work</li>
          <li>Removes hair quickly</li>
          <li>
            Effective less treatments are needed to achieve desired results
            (apx. 4-6 treatments)
          </li>
          <li>Safe</li>
          <li>FDA approved for All skin types .....Safely</li>
          <li>Can make unwanted high-volume areas hair-free</li>
        </ul>

        <h4 style="font-weight: 300">How long It Last ?</h4>
        <ul class="lead text-muted mb-0">
          <li>
            This treatment produces permanent damage to hair follicles and is
            long lasting. Some patients find that they dp not require further
            treatment for years - if ever!
          </li>
        </ul>
      </div>
    </div>
  </div>
</div> -->

<div style="margin-top: 80px; margin-bottom: 80px">
	<div class="col" style="position: relative">
		<div
			class="text-center text-title"
			style="margin-top: 60px; margin-bottom: 60px"
		></div>

		<div
			class="container text-center d-flex flex-column justify-content-center"
			style="margin-top: 30px; margin-bottom: 40px"
		>
			<div class="row d-flex align-items-center">
				<div
					class="col-md-5 d-flex flex-column justify-content-center align-items-center"
					style="margin-right: -80px; z-index: 1"
				>
					<div
						class="col-lg-12 col-md-12 col-sm-12 text-center img-hover-zoom"
					>
						<img
							src="../assets/images/skin23.jpg"
							class="img-fluid"
							alt="Image"
						/>
					</div>
				</div>
				<div
					class="col-md-7 text-justify d-flex flex-column justify-content-center align-items-center custom"
					style="
						color: black;
						color: #47347a;
						font-weight: 400;
						font-size: 15px;
						line-height: 200%;
						background-color: #4396d549;
					"
				>
					<h4
						class="display-4 Montserrat-Regular"
						style="color: black"
					>
						Unwanted Hair
					</h4>

					<ul class="lead text-muted mb-0 Montserrat-Regular">
						<li>Painless, truly comfortable treatments that work</li>
						<li>Removes hair quickly</li>
						<li>
							Effective less treatments are needed to achieve desired
							results (apx. 4-6 treatments)
						</li>
						<li>Safe</li>
						<li>FDA approved for All skin types .....Safely</li>
						<li>Can make unwanted high-volume areas hair-free</li>
					</ul>

					<h4 style="font-weight: 300" class="Montserrat-Regular">
						How long It Last ?
					</h4>
					<ul class="lead text-muted mb-0 Montserrat-Regular">
						<li>
							This treatment produces permanent damage to hair
							follicles and is long lasting. Some patients find that
							they dp not require further treatment for years - if
							ever!
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
