<!-- <div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6 d-none d-lg-block">
        <img src="../assets/images/skin17.jpg" alt="" class="img-fluid" />
      </div>

      <div class="col-lg-6">
        <h4 class="display-4">Carbon Facial</h4>
        <p class="lead text-muted mb-0" style="text-align: justify">
          It is a minimal to full epidermal laser peel that precisely removes
          the outermost layers pf the skin. The procedure is individually
          tailored to the nature of the problem to be corrected: wrinkles,
          scars, keratoses, or pigementation problems. How often does a
          MicroLaserPeel need to be done ? One procedure could be sufficient for
          at least 6 to 12 months, but additional procedures can be performed as
          often as every 8 weeks, A package of three to four treatments may be
          best for you. Your laser technician will determine what is necssary.
        </p>

        <h4 style="font-weight: 300">What can the patient expect ?</h4>
        <p class="lead text-muted mb-0" style="text-align: justify">
          Smoother, healthier, and more vibrant skin can be expected.You will
          notice a significant and immediate change in skin texture and
          tightness, The Microlaserpeel is extremely beneficial for acne
          scarring and textural issues.An excellent all-over anti-aging
          treatment to regenerate, renew and smooth the skin.
        </p>
      </div>
    </div>
  </div>
</div> -->

<div style="margin-top: 80px; margin-bottom: 80px">
	<div class="col" style="position: relative">
		<div
			class="text-center text-title"
			style="margin-top: 60px; margin-bottom: 60px"
		></div>

		<div
			class="container text-center d-flex flex-column justify-content-center"
			style="margin-top: 30px; margin-bottom: 40px"
		>
			<div class="row d-flex align-items-center">
				<div
					class="col-md-5 d-flex flex-column justify-content-center align-items-center"
					style="margin-right: -80px; z-index: 1"
				>
					<div
						class="col-lg-12 col-md-12 col-sm-12 text-center img-hover-zoom"
					>
						<img
							src="../assets/images/skin17.jpg"
							class="img-fluid"
							alt="Image"
						/>
					</div>
				</div>
				<div
					class="col-md-7 text-justify d-flex flex-column justify-content-center align-items-center custom"
					style="
						color: black;
						color: #47347a;
						font-weight: 400;
						font-size: 15px;
						line-height: 200%;
						background-color: #4396d549;
					"
				>
					<h4
						class="display-4 Montserrat-Regular"
						style="color: black"
					>
						Carbon Facial
					</h4>

					<p
						class="lead text-muted mb-0 Montserrat-Regular"
						style="text-align: justify"
					>
						It is a minimal to full epidermal laser peel that
						precisely removes the outermost layers pf the skin. The
						procedure is individually tailored to the nature of the
						problem to be corrected: wrinkles, scars, keratoses, or
						pigementation problems. How often does a MicroLaserPeel
						need to be done ? One procedure could be sufficient for at
						least 6 to 12 months, but additional procedures can be
						performed as often as every 8 weeks, A package of three to
						four treatments may be best for you. Your laser technician
						will determine what is necssary.
					</p>
					<h4
						class="Montserrat-Regular"
						style="font-weight: 300; color: black"
					>
						What can the patient expect ?
					</h4>
					<p
						class="lead text-muted mb-0 Montserrat-Regular"
						style="text-align: justify"
					>
						Smoother, healthier, and more vibrant skin can be
						expected.You will notice a significant and immediate
						change in skin texture and tightness, The Microlaserpeel
						is extremely beneficial for acne scarring and textural
						issues.An excellent all-over anti-aging treatment to
						regenerate, renew and smooth the skin.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
