<!-- <div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h4 class="display-4">Diode Lipolaser</h4>
        <p class="lead text-muted mb-0" style="text-align: justify">
          Non surgical diode Lipolaser is an alternative of surgical laser
          liposuction. Where the treatment is done externally without any
          surgical procedure ultrasonic transducer/probe is moved externally on
          the target areas energy in the form of ultrasound waves surrounds the
          lipocyte (fat cell) membranes and with vibration the waves create
          enough pressure to cause the fat cells to break up instantly. The
          contents of the broken lipocytes are the moved through.
        </p>
        <h4 style="font-weight: 300">Body toning</h4>
        <p class="lead text-muted mb-0" style="text-align: justify">
          Tone up your body for a better look and feel beautiful. We employ the
          latest and safe tech to ensure that you gain a beautifully toned
          body.The body shapes differ from one individual to another and with it
          our recommend program and alter as well.
        </p>
      </div>
      <div class="col-lg-6 d-none d-lg-block">
        <img src="../assets/images/skin28.jpg" alt="" class="img-fluid" />
      </div>
    </div>
  </div>
</div> -->

<div style="margin-top: 80px; margin-bottom: 80px">
  <div class="col" style="position: relative">
    <div
      class="text-center text-title"
      style="margin-top: 60px; margin-bottom: 60px"
    ></div>

    <div
      class="container text-center d-flex flex-column justify-content-center"
      style="margin-top: 30px; margin-bottom: 40px"
    >
      <div class="row d-flex align-items-center">
        <div
          class="col-md-5 d-flex flex-column justify-content-center align-items-center"
          style="margin-right: -80px; z-index: 1"
        >
          <div class="col-lg-12 col-md-12 col-sm-12 text-center img-hover-zoom">
            <img
              src="../assets/images/skin28.jpg"
              class="img-fluid"
              alt="Image"
            />
          </div>
        </div>
        <div
          class="col-md-7 text-justify d-flex flex-column justify-content-center align-items-center custom"
          style="
            color: black;
            color: #47347a;
            font-weight: 400;
            font-size: 15px;
            line-height: 200%;
            background-color: #ededff;
          "
        >
          <h4 class="display-4 Montserrat-Regular" style="color: black">Diode Lipolaser</h4>

          <p class="lead text-muted mb-0 Montserrat-Regular" style="text-align: justify">
            Non surgical diode Lipolaser is an alternative of surgical laser
            liposuction. Where the treatment is done externally without any
            surgical procedure ultrasonic transducer/probe is moved externally
            on the target areas energy in the form of ultrasound waves surrounds
            the lipocyte (fat cell) membranes and with vibration the waves
            create enough pressure to cause the fat cells to break up instantly.
            The contents of the broken lipocytes are the moved through.
          </p>
          <h4 style="font-weight: 300" class="Montserrat-Regular">Body toning</h4>
          <p class="lead text-muted mb-0 Montserrat-Regular" style="text-align: justify">
            Tone up your body for a better look and feel beautiful. We employ
            the latest and safe tech to ensure that you gain a beautifully toned
            body.The body shapes differ from one individual to another and with
            it our recommend program and alter as well.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
