<div style="margin-top: 80px; margin-bottom: 80px">
  <div class="col" style="position: relative">
    <div
      class="text-center text-title"
      style="margin-top: 60px; margin-bottom: 60px"
    ></div>

    <div
      class="container text-center d-flex flex-column justify-content-center"
      style="margin-top: 30px; margin-bottom: 40px"
    >
      <div class="row d-flex align-items-center">
        <div
          class="col-md-5 d-flex flex-column justify-content-center align-items-center"
          style="margin-right: -80px; z-index: 1"
        >
          <div class="col-lg-12 col-md-12 col-sm-12 text-center img-hover-zoom">
            <img
              src="../assets/images/skin31.jpg"
              class="img-fluid"
              alt="Image"
            />
          </div>
        </div>
        <div
          class="col-md-7 text-justify d-flex flex-column justify-content-center align-items-center custom"
          style="
            color: black;
            color: #47347a;
            font-weight: 400;
            font-size: 15px;
            line-height: 200%;
            background-color: #ededff;
          "
        >
          <h4 class="display-4 Montserrat-Regular" style="color: black">Magic Tech</h4>

          <!-- <p class="lead text-muted mb-0" style="text-align: justify">
            TREBHA WELLNESS received a 98% "Worth It Rating" on RealSelf." The
            Hydration Facial System using customisable tips and serums the
            Hydration Facial is a 7-in 1 Vacuum, Microdermabrasion and Infusion
            system skin tight that exfoliates, extracts, and infuses the skin
            all at the same time.It removes the very outer layer of skin cells,
            giving your skin a healthy, rosy glow and is the ideal solution to:
            <br />Benifits
          </p> -->
          <ul class="lead text-muted mb-0 Montserrat-Regular">
            <li>
              MAGIC TECH is a more time effective and efficient weight loss
              tool, it allows people to streamline their results and gain all of
              the benefits in an effective 30 minutes.
            </li>
            <li>
              MAGIC TECH facilitates a faster recovery, part of EMS slimming
              program is recovery protocol that allows muscles to recover after
              this treatment that encourage blood circulation and facilitate
              more thorough muscle recovery.
            </li>
            <li>
              Faster results, faster life pace requires faster results; luckily
              MAGIC TECH delivers results from the first session.
            </li>
            <li>
              MAGIC TECH also promotes weight loss by building muscle, which in
              turn helps to boost your metabolism and burn fat. Weight loss with
              MAGIC TECH training is most effective when combined with a
              healthy, balanced diet which promotes the calorie deficit.
            </li>
            <li>
              Current MAGIC TECH devices are exceptionally convenient due to
              their small size, EMS devices now are slightly bigger than a
              smartphone. The portability of the devices, combined with
              easy-to-use adhesive electrodes, make them a easy add on to
              training and recovery.
            </li>
            <li>
              MAGIC TECH aids in weight loss becuase it allows the body to burn
              more calories.One of the main reasons that EMS is good for weight
              loss is that the workout helps to create a calorie deficit, which
              is the main way that you're able to lose weight. A calorie deficit
              means burning more calories than you consume.You can achieve this
              by cutting calories in your diet, exercising to burn more calories
              or a combination of both.
            </li>
            <li>
              You can start seeing results after the first use, as your body
              releases endorphins and as most major muscle groups in your body
              have been activated, you will experience increased physical
              awareness, resulting in an improved posture. After a period of
              about 4 weeks, you'll feel stronger and different muscles will
              improve to coordinate movements more effectively.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
