<!-- <div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h4 class="display-4">Vaginal Tighting</h4>
        <p class="lead text-muted mb-0" style="text-align: justify">
          Vieve is a clinically proven, single-session treatment that safely and
          comfortably renews vaginal tissue and responsiveness.
        </p>
        <h4 style="font-weight: 300">Real Issue</h4>
        <p class="lead text-muted mb-0" style="text-align: justify">
          Vaginal rejuvenation is possible in just one 60-minute treatment at
          Beauty Bar. Vaginal tissu, just like the skin, changes over time. When
          collagen support fibers lose strength, a feeling of looseness called
          laxity, especially around the vaginal opening, occurs. Vaginal laxity
          is an extremely common medical condition caused by aging, childbirth,
          genetic pre-disposition and lifestyle. Millions of women suffer
          silently with vaginal laxity and the resulting loss of sexual
          sensation and satisfaction.
        </p>
        <h4 style="font-weight: 300">RESULTS</h4>
        <p class="lead text-muted mb-0" style="text-align: justify">
          Women who have had the Viveve treatment agree it works! In fact,
          clinical trials show 90% of the women treated reported statistically
          significant tightening, sensation and satisfaction.
        </p>
      </div>
      <div class="col-lg-6 d-none d-lg-block">
        <img src="../assets/images/skin20.jpg" alt="" class="img-fluid" />
      </div>
    </div>
  </div>
</div> -->

<div style="margin-top: 80px; margin-bottom: 80px">
  <div class="col" style="position: relative">
    <div
      class="text-center text-title"
      style="margin-top: 60px; margin-bottom: 60px"
    ></div>

    <div
      class="container text-center d-flex flex-column justify-content-center"
      style="margin-top: 30px; margin-bottom: 40px"
    >
      <div class="row d-flex align-items-center">
        <div
          class="col-md-5 d-flex flex-column justify-content-center align-items-center"
          style="margin-right: -80px; z-index: 1"
        >
          <div class="col-lg-12 col-md-12 col-sm-12 text-center img-hover-zoom">
            <img
              src="../assets/images/skin20.jpg"
              class="img-fluid"
              alt="Image"
            />
          </div>
        </div>
        <div
          class="col-md-7 text-justify d-flex flex-column justify-content-center align-items-center custom"
          style="
            color: black;
            color: #47347a;
            font-weight: 400;
            font-size: 15px;
            line-height: 200%;
            background-color: #ededff;
          "
        >
          <h4 class="display-4 Montserrat-Regular" style="color: black">Vaginal Tighting</h4>

          <p class="lead text-muted mb-0 Montserrat-Regular" style="text-align: justify">
            Vieve is a clinically proven, single-session treatment that safely
            and comfortably renews vaginal tissue and responsiveness.
          </p>
          <h4 style="font-weight: 300" class="Montserrat-Regular">Real Issue</h4>
          <p class="lead text-muted mb-0 Montserrat-Regular"  style="text-align: justify">
            Vaginal rejuvenation is possible in just one 60-minute treatment at
            Beauty Bar. Vaginal tissu, just like the skin, changes over time.
            When collagen support fibers lose strength, a feeling of looseness
            called laxity, especially around the vaginal opening, occurs.
            Vaginal laxity is an extremely common medical condition caused by
            aging, childbirth, genetic pre-disposition and lifestyle. Millions
            of women suffer silently with vaginal laxity and the resulting loss
            of sexual sensation and satisfaction.
          </p>
          <h4 style="font-weight: 300" class="Montserrat-Regular">RESULTS</h4>
          <p class="lead text-muted mb-0 Montserrat-Regular" style="text-align: justify">
            Women who have had the Viveve treatment agree it works! In fact,
            clinical trials show 90% of the women treated reported statistically
            significant tightening, sensation and satisfaction.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
