<div class="container-fluid m-0 p-0">
	<ngb-carousel
		[showNavigationArrows]="false"
		[pauseOnHover]="false"
		[interval]="2500"
	>
		<ng-template ngbSlide *ngFor="let slide of images; let i = index">
			<div
				class="d-none d-lg-block"
				style="height: 100vh"
				[ngStyle]="{
					background:
						'linear-gradient(to right, #141717 0%, transparent), url(' +
						slide.image +
						') no-repeat',
					'background-size': 'cover',
					'background-position': 'center'
				}"
			>
				<div
					class="container-fluid pl-5 ml-4 d-flex flex-column justify-content-center pt-5 h-100"
				>
					<div
						class="Montserrat-SemiBold display-4 mt-5 text-white"
						[innerHTML]="slide.title"
					></div>
					<div
						*ngIf="i === 0"
						class="text-light mt-3"
						style="padding-left: 1rem"
					>
						<h5 style="font-size: 1.7rem">Dr. Singla's 2003</h5>
						<p>National and International Awardee</p>
					</div>
					<div *ngIf="i >= images.length - 2" class="row col-5">
						<div class="col-lg-6 col-12">
							<a href="tel:08146300892">
								<button
									class="btn btn-primary w-100 mt-4 Montserrat-SemiBold"
									style="scale: 1.1"
								>
									Call Us
								</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</ng-template>
	</ngb-carousel>
	<div class="my-3">
		<div
			class="tagembed-widget"
			style="width: 100%; height: 100%"
			data-widget-id="2157125"
			data-tags="false"
			view-url="https://widget.tagembed.com/2157125"
		></div>
	</div>

	<!-- <div class="col-md-6 col-12 text-justify Montserrat-Medium" style="align-self: center;">
		<ul>
                <li style="font-size: 0.9rem;">
                    We started our journey from Punjab as Singla Slimming Clinic in 2003 by our founders Dr.Anju
                    Singla & Dr. Sushil Singla
                </li>
            </ul>
        </div> -->

	<!-- <div
			class="col-md-6 col-12 text-justify Montserrat-Medium d-flex flex-column align-items-center"
			style="align-self: center; text-align: center"
		>
			<img
				src="../assets/images/dranjusingla.jpg"
				alt="Dr. Anju Singla"
				style="max-width: 50%; height: auto; margin-bottom: 1rem"
				/>
				<ul style="padding: 0; list-style-position: inside">
					<li style="font-size: 0.9rem">
						We started our journey from Punjab as Singla Slimming Clinic
						in 2003 by our founders Dr. Anju Singla & Dr. Sushil Singla
					</li>
				</ul>
			</div>
			
			<div
			class="col-md-6 col-12 text-start"
			style="position: relative"
			>
			<div
			style="
			top: 50%;
			height: 40%;
			width: 60%;
			background-color: #96763731;
			position: absolute;
			"
			></div>
			<div
			class="text-center Montserrat-Bold display-2 d-lg-block d-none"
			>
			<div>WHO</div>
			<div>WE</div>
			<div>ARE</div>
		</div>
		<div
		class="text-center Montserrat-Bold display-4 d-lg-none d-block"
		>
		<div>WHO</div>
		<div>WE</div>
		<div>ARE</div>
	</div>
</div> -->
	<div
		class="container my-5 py-5 d-flex flex-md-row flex-column justify-content-center align-items-center bg-light rounded shadow-lg p-5"
	>
		<div
			class="d-flex flex-md-row flex-column align-items-center text-center text-md-left"
		>
			<img
				src="../../../assets/images/lose_weight.jpg"
				alt="Lose Weight"
				width="400px"
				height="auto"
				class="img-fluid rounded-lg mb-4 mb-md-0 mr-md-5 shadow"
			/>
			<div>
				<p class="Montserrat-Bold" style="font-size: 2.8rem">
					Lose <span class="text-primary">4 - 12kg</span> in 1 month
				</p>
				<p
					class="font-weight-bold text-secondary"
					style="font-size: 1.7rem; line-height: 2"
				>
					<span class="text-dark Montserrat-Medium">Without</span>
					Exercise |
					<span class="text-dark Montserrat-Medium">Without</span>
					Medicine |
					<span class="text-dark Montserrat-Medium">Without</span>
					Surgery
				</p>
			</div>
		</div>
	</div>
	<div class="container my-5 py-5">
		<h2
			class="position-relative Montserrat-Bold font-weight-bold d-inline-block text-uppercase pb-2 mb-4"
		>
			About Us
			<span class="d-block bg-warning gradient-line"></span>
		</h2>
		<div class="row align-items-center">
			<!-- Left Section: Image -->
			<div
				class="col-md-6 col-12 mb-4 mb-md-0 text-center text-md-left"
			>
				<img
					src="../../../assets/images/about_us_pic.jpg"
					alt="About Us"
					class="img-fluid"
					style="max-width: 400px"
				/>
			</div>

			<!-- Right Section: Text Content -->
			<div class="col-md-6 col-12 text-justify Montserrat-Medium">
				<p>
					Singla Slimming Clinic has been a pioneer in the slimming
					and wellness industry since 2003. Founded by Dr. Anju Singla
					and Dr. Sushil Singla, we have successfully transformed
					lives for over 21 years, helping individuals achieve their
					weight loss goals with cutting-edge, non-invasive
					techniques.
				</p>
				<p>
					With over 132,232 success stories and more than 2.7 million+
					kilos lost, we have become a trusted name in weight loss and
					wellness. We focus on addressing the root causes of
					overweight and offer tailored solutions for sustainable
					results.
				</p>
			</div>
		</div>
	</div>
	<div class="container mb-5">
		<h2
			class="position-relative Montserrat-Bold d-inline-block text-uppercase pb-3"
		>
			Awards
			<span class="d-block bg-warning gradient-line"></span>
		</h2>

		<div class="row">
			<div
				class="col-md-4 col-sm-6 mb-4"
				*ngFor="let image of images1"
			>
				<div class="card shadow-sm border-0">
					<img
						[src]="'../assets/images/' + image"
						[alt]="'Award ' + image"
						class="img-fluid award-image"
					/>
				</div>
			</div>
		</div>
	</div>
	<div class="my-8 py-5 shadow-lg" style="background-color: #fafafa">
		<div>
			<h2
				class="text-center Montserrat-Bold mb-5"
				style="font-size: 2.2rem"
			>
				Are You Facing?
			</h2>
		</div>

		<!-- Slider container -->
		<div class="slider mt-5 position-relative container">
			<div
				class="slider-container"
				[style.transform]="'translateX(-' + currentIndex * 100 + '%)'"
			>
				<div class="slide row">
					<div
						*ngFor="let statement of statements; let i = index"
						class="col-4 col-md-2"
					>
						<div
							class="shadow-sm custom-card card"
							[style.backgroundImage]="
								'url(' + statement.imageUrl + ')'
							"
						>
							<!-- Blur Effect Overlay -->
							<div class="custom-blur-layer"></div>

							<!-- Card Content -->
							<div
								class="custom-card-body position-relative text-center"
							>
								<h5 class="custom-card-title Montserrat-Medium">
									{{ statement.text }}
								</h5>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Navigation Buttons -->
			<button class="prev-btn" (click)="prevSlide()">&#10094;</button>
			<button class="next-btn" (click)="nextSlide()">&#10095;</button>
		</div>

		<div
			class="mb-5 py-5 px-3"
			style="background-color: aliceblue; border-radius: 1rem"
		>
			<div
				class="d-flex flex-column flex-md-row justify-content-around align-items-center"
			>
				<div class="text-center text-md-left mb-4 mb-md-0">
					<p class="Montserrat-Bold" style="font-size: 2.2rem">
						Calculate Your Ideal Weight
					</p>
					<p style="font-size: 1.2rem">
						Know your Ideal Weight for
						<span class="Montserrat-Bold">Healthier Life!</span>
					</p>
					<button
						class="btn btn-primary mt-3"
						style="font-size: 1.1rem"
						(click)="openModalIdeal()"
					>
						Calculate Now
					</button>
				</div>
				<img
					src="../../../assets/images/doctor_2.png"
					class="img-fluid-first rounded"
				/>
			</div>
		</div>
		<!-- Custom Modal -->
		<div class="custom-modal-overlay" id="customModal">
			<div class="custom-modal">
				<div class="custom-modal-header">
					<h5 class="modal-title Montserrat-Medium">
						Medically Ideal Weight Calculator
					</h5>
					<span class="close-btn" (click)="closeModalIdeal()"
						>&times;</span
					>
				</div>
				<div class="custom-modal-body">
					<div class="form-group">
						<label>Gender:</label><br />
						<input type="radio" name="gender" value="male" /> Male
						<input type="radio" name="gender" value="female" /> Female
					</div>
					<div class="form-group">
						<label>Weight (kg):</label>
						<input
							type="number"
							class="form-control"
							[(ngModel)]="weight"
						/>
					</div>
					<div class="form-group">
						<label>Height (ft):</label>
						<input
							type="number"
							class="form-control"
							[(ngModel)]="height"
						/>
					</div>
				</div>
				<div *ngIf="idealWeight !== null" class="result">
					<p>✅ Your Ideal Weight is:</p>
					<h4>{{ idealWeight.toFixed(2) }} kg</h4>
				</div>
				<div class="custom-modal-footer">
					<button class="btn-secondary" (click)="closeModalIdeal()">
						Close
					</button>
					<button
						class="btn-success"
						(click)="calculateIdealWeight()"
					>
						Calculate
					</button>
				</div>
			</div>
		</div>

		<div class="container my-5 py-5">
			<div
				class="row align-items-center bg-light p-5 rounded-lg shadow-lg"
			>
				<!-- Image Section -->
				<div class="col-md-6 text-center text-md-left">
					<img
						src="../../../assets/images/portrait-smiling-young-doctors-standing-together-portrait-medical-staff-inside-modern-hospital-smiling-camera.jpg"
						alt="Lose Weight"
						class="img-fluid rounded-lg shadow"
						style="max-width: 100%; border-radius: 20px"
					/>
				</div>

				<!-- Text Section -->
				<div class="col-md-6 text-center text-md-left">
					<p
						class="Montserrat-Bold text-dark"
						style="font-size: 2.8rem; line-height: 1.3"
					>
						Lose
						<span class="text-primary font-italic">12 - 36kg</span> in
						less than <br />
						<span class="text-success">90 days</span>
					</p>
				</div>
			</div>
		</div>

		<!-- <div
        class="container my-5 py-5 d-flex flex-md-row flex-column justify-content-center align-items-center section-color">
        <div class="my-5 col-md-6 col-12 order-md-0 order-1 text-justify Montserrat-Medium" style="align-self: center;">
            <ul>
                <li class="small" *ngFor="let news of newsList">{{news.news}}</li>

            </ul>
        </div>
        <div class="col-md-6 col-12 text-start order-md-1 order-0" style="position: relative;">
            <div style="left: 50%;top: 50% ;height: 40%; width: 60%; background-color: #96763731; position: absolute;">
            </div>
            <div class="text-center Montserrat-Bold display-2 d-lg-block d-none">
                <div>
                    Weight
                </div>
                <div>
                    Loss
                </div>
             
            </div>
            <div class="text-center Montserrat-Bold display-4 d-lg-none d-block">
                <div>
                    Weight Loss
                </div>
                <div>
                    Program
                </div>
                <div style="border-bottom: 3px solid #000;" class="cursor-pointer">
                    <span class="h5">Read More</span> <i class="bi bi-arrow-right-circle-fill h5"></i>
                </div>
            </div>


        </div>
    </div> -->

		<!-- <div
		class="container my-5 py-5 d-flex flex-md-row flex-column justify-content-between align-items-center"
		style="position: relative"
	> -->
		<!-- Left Section: Placeholder for Image/Visual -->
		<!-- <div
			class="col-md-6 col-12 text-start"
			style="position: relative"
		>
			<div
				style="
					top: 50%;
					height: 40%;
					width: 60%;
					background-color: #96763731;
					position: absolute;
				"
			></div>
			<div
				class="text-center Montserrat-Bold display-2 d-lg-block d-none"
			>
				<div>Our</div>
				<div>Programs</div>
				<div></div>
			</div> -->
		<!-- <div class="text-center Montserrat-Bold display-4 d-lg-none d-block">
            <div>
                WHO
            </div>
            <div>
                WE
            </div>
            <div>ARE</div>
        </div> -->
		<!-- </div> -->

		<!-- Right Section: Text Content -->
		<!-- <div class="my-5 col-md-6 col-12 text-justify Montserrat-Medium">
			<div class="mt-4">
				<h4 class="mb-3"><strong>Offline Services</strong></h4>
				<ul class="list-unstyled">
					<li class="mb-2">Lose 4-12 kg in 1 month</li>
					<li class="mb-2">No Surgery | No Medicine | No Exercise</li>
				</ul>
			</div>

			<div class="mt-4">
				<h4 class="mb-3"><strong>Online Services</strong></h4>
				<ul class="list-unstyled">
					<li class="mb-2">Lose 3-8 kg in 1 month</li>
					<li class="mb-2">No Surgery | No Medicine</li>
				</ul>
			</div>
		</div>
	</div> -->
		<div class="container my-5">
			<h2
				class="position-relative font-weight-bold d-inline-block text-uppercase pb-2"
			>
				Our Services
				<span class="d-block bg-warning gradient-line"></span>
			</h2>
			<div class="container text-center mt-4">
				<h2 class="Montserrat-Bold text-primary">
					Weight Management Program
				</h2>
				<h3 class="mb-4 text-secondary">Online & Offline</h3>
				<div class="table-responsive">
					<table
						class="table table-bordered text-center table-striped"
					>
						<thead class="thead-dark">
							<tr>
								<th>Benefits</th>
								<th>Offline</th>
								<th>Online</th>
							</tr>
						</thead>
						<tbody>
							<tr class="bg-light">
								<td>Weight Loss</td>
								<td>4 to 12 KG in 1 Month</td>
								<td>3 to 8 KG in 1 Month</td>
							</tr>
							<tr>
								<td>Slimming Technology</td>
								<td>&#10003;</td>
								<td>&#10007;</td>
							</tr>
							<tr class="bg-light">
								<td>Medical Support</td>
								<td>&#10003;</td>
								<td>&#10003;</td>
							</tr>
							<tr>
								<td>CRM 24x7</td>
								<td>&#10003;</td>
								<td>&#10003;</td>
							</tr>
							<tr class="bg-light">
								<td>Counselling</td>
								<td>&#10003;</td>
								<td>&#10003;</td>
							</tr>
							<tr>
								<td>Daily Customized Diet Plan</td>
								<td>&#10003;</td>
								<td>&#10003;</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="d-flex align-items-center mt-5">
				<div class="d-flex align-items-center mb-2">
					<div
						class="bg-warning rounded-circle mr-2"
						style="width: 16px; height: 16px"
					></div>
					<span class="text-warning font-weight-bold">●</span>
				</div>

				<!-- Heading -->
				<h2
					class="Montserrat-Bold mb-4 pb-2 text-dark"
					style="font-size: 2rem"
				>
					Weight Loss
				</h2>
			</div>
			<div class="row pb-5">
				<div class="col-md-4 mb-4" *ngFor="let card of cards">
					<div class="card-wrapper-first">
						<div class="card-first border-0 shadow Montserrat-Medium">
							<div class="card-header-first bg-primary">
								{{ card.title }}
							</div>
							<div class="card-body-first">
								<p [innerHTML]="card.description"></p>
								<i class="fas fa-user card-icon-first"></i>
							</div>
							<div class="card-footer-first">
								<a
									[href]="card.link"
									class="btn btn-outline-primary btn-block"
								>
									Read More
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container py-5">
				<!-- Decorative Symbol Before Heading -->
				<div class="d-flex align-items-center">
					<div class="d-flex align-items-center mb-2">
						<div
							class="bg-warning rounded-circle mr-2"
							style="width: 16px; height: 16px"
						></div>
						<span class="text-warning font-weight-bold">●</span>
					</div>

					<!-- Heading -->
					<h2
						class="font-weight-bold mb-4 pb-2 text-dark"
						style="font-size: 2rem"
					>
						What is Hifu?
					</h2>
				</div>

				<div class="row align-items-center">
					<!-- Text Section -->
					<div class="col-md-6">
						<p class="text-justify lead">
							<strong class="text-dark">HIFU</strong> delivers
							ultrasound energy deep into the skin layers, heating
							tissues. This stimulates fibroblasts to produce new
							collagen and elastin, leading to firmer, tighter skin.
						</p>
						<ul class="list-unstyled pl-3">
							<li class="mb-2">
								<img
									src="../assets/images/blue_tick.png"
									height="16px"
								/>
								<strong> Age Lifting:</strong> 85-95% of patients see
								noticeable skin tightening over 2-3 months.
							</li>
							<li class="mb-2">
								<img
									src="../assets/images/blue_tick.png"
									height="16px"
								/>
								<strong> Collagen & Elastin Boost:</strong> 80-90%
								experience increased firmness due to collagen
								remodeling.
							</li>
							<li class="mb-2">
								<img
									src="../assets/images/blue_tick.png"
									height="16px"
								/>
								<strong> Wrinkle Reduction:</strong> 70-85% reduction
								in fine lines and wrinkles over time.
							</li>
							<li class="mb-2">
								<img
									src="../assets/images/blue_tick.png"
									height="16px"
								/>
								<strong> Non-Surgical Face Lift Alternative:</strong>
								90% prefer HIFU over surgery for a natural look.
							</li>
						</ul>
					</div>

					<!-- Image Section -->
					<div class="col-md-6 text-center">
						<div class="position-relative">
							<img
								src="../../../assets/images/hifu.jpg"
								class="img-fluid rounded shadow-lg"
								alt="HIFU Treatment"
								style="border-radius: 15px; max-width: 90%"
							/>
						</div>
					</div>
				</div>
			</div>

			<div class="d-flex align-items-center">
				<div class="d-flex align-items-center mb-2">
					<div
						class="bg-warning rounded-circle mr-2"
						style="width: 16px; height: 16px"
					></div>
					<span class="text-warning font-weight-bold">●</span>
				</div>

				<!-- Heading -->
				<h2
					class="font-weight-bold mb-4 pb-2 text-dark"
					style="font-size: 2rem"
				>
					Benefits of Hifu
				</h2>
			</div>
			<div class="row">
				<div class="col-md-4 mb-4" *ngFor="let card of HifuCards">
					<div class="card shadow-lg border-0 h-100">
						<!-- Image Section -->
						<img
							[src]="card.image"
							class="card-img-top rounded-top"
							alt="Card Image"
							style="height: 200px; object-fit: cover"
						/>

						<!-- Text Section -->
						<div
							class="card-body-second d-flex flex-column px-2 py-3"
						>
							<h5
								class="card-title font-weight-bold text-center text-dark pb-2"
							>
								{{ card.title }}
							</h5>
							<p
								class="card-text text-muted"
								style="line-height: 1.6"
								[innerHTML]="card.description"
							>
								<!-- {{ card.description }} -->
							</p>

							<!-- Button Section -->
							<div class="mt-auto text-center">
								<a
									[href]="card.link"
									class="btn btn-warning font-weight-bold px-4 py-2 mt-3"
								>
									Read More
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div
			class="container my-5 py-5 d-flex flex-md-row flex-column justify-content-between align-items-center"
			style="position: relative"
		>
			<!-- Left Section: Text Content -->
			<div class="col-md-6 col-12 text-justify Montserrat-Medium">
				<!-- <h1 class="display-4 mb-4">Our Services</h1> -->
				<ul class="list-unstyled">
					<li class="mb-3">
						<strong>Root Cause Solutions:</strong> We tackle the
						underlying issues of weight gain for long-term results.
					</li>
					<li class="mb-3">
						<strong>Expert Team:</strong> A dedicated team of
						nutritionists, dietitians, and weight loss specialists
						ensures personalized care.
					</li>
					<li class="mb-3">
						<strong>Hybrid Approach:</strong> Both offline and online
						services available to suit your convenience.
					</li>
				</ul>
			</div>

			<div
				class="col-md-6 col-12 d-flex justify-content-center align-items-center"
			>
				<div
					style="
						top: 50%;
						height: 40%;
						width: 60%;
						background-color: #96763731;
						position: absolute;
					"
				></div>
				<div
					class="text-center Montserrat-Bold display-2 d-lg-block d-none"
				>
					<div>Why</div>
					<div>Choose Us</div>
					<div></div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="d-flex align-items-center mb-3">
				<div class="d-flex align-items-center mb-2">
					<div
						class="bg-warning rounded-circle mr-2"
						style="width: 16px; height: 16px"
					></div>
					<span class="text-warning font-weight-bold">●</span>
				</div>

				<!-- Heading -->
				<h2
					class="font-weight-bold mb-4 pb-2 text-dark"
					style="font-size: 2rem"
				>
					Testimonials
				</h2>
			</div>

			<app-video-silder></app-video-silder>
		</div>
		<div class="my-5 py-5" style="background-color: #fafafa">
			<div class="row align-items-center">
				<!-- Left Section: Image -->
				<div class="col-md-6 col-12 text-center mb-4 mb-md-0">
					<img
						src="../../../assets/images/doctor.jpg"
						class="rounded img-fluid"
						style="
							border: 2px solid black;
							max-width: 500px;
							width: 100%;
						"
						alt="Doctor"
					/>
				</div>

				<!-- Right Section: Text Content -->
				<div class="col-md-6 col-12 text-center text-md-left">
					<p class="font-weight-bold" style="font-size: 2.6rem">
						Start Your Transformation<br />
						journey NOW!!
					</p>
					<p style="font-size: 1.2rem">
						Talk to our experts for
						<span class="font-weight-bold">FREE CONSULTATION!</span>
					</p>
					<button
						onclick="window.location.href='https://wa.me/+918146300892'"
						class="btn btn-primary mt-3"
						style="font-size: 1.2rem"
					>
						Book Appointment
					</button>
				</div>
			</div>
		</div>

		<div class="container my-5 py-5">
			<div class="row justify-content-around align-items-center">
				<!-- Left Section: City List -->
				<div class="col-md-6 col-12 mb-4">
					<h2 class="display-4">Locate Our Clinics</h2>

					<!-- City Dropdown -->
					<div class="mt-3 position-relative">
						<button
							class="form-control bg-dark text-white font-weight-bold border-0 w-100"
							(click)="toggleCityList()"
						>
							{{ searchCity ? searchCity : "Select a city" }}
						</button>

						<!-- Dropdown List -->
						<div *ngIf="showCityList" class="dropdown-menu-custom">
							<div
								*ngFor="let city of cities"
								class="p-2 border-bottom text-dark city-item"
								(click)="selectCity(city)"
							>
								{{ city }}
							</div>
						</div>
					</div>

					<!-- Address List -->
					<div
						class="scroll-auto mt-4"
						style="height: 400px; overflow-y: auto"
					>
						<div
							class="d-flex flex-column cursor-pointer mb-3 rounded bg-light p-3"
							(click)="changeLocation('LUDHIANA')"
						>
							<span class="font-weight-bold">LUDHIANA:</span>
							<span class="mt-2 text-muted"
								>2E, SARABHA NAGAR MALHAR ROAD, LUDHIANA</span
							>
						</div>

						<div
							class="d-flex flex-column cursor-pointer mb-3 rounded bg-light p-3"
							(click)="changeLocation('JALANDHAR')"
						>
							<span class="font-weight-bold">JALANDHAR:</span>
							<span class="mt-2 text-muted"
								>MKC Mall, 461 NEW JAWAHAR NAGAR, JALANDHAR</span
							>
						</div>

						<div
							class="d-flex flex-column cursor-pointer mb-3 rounded bg-light p-3"
							(click)="changeLocation('ZIRAKPUR')"
						>
							<span class="font-weight-bold">ZIRAKPUR:</span>
							<span class="mt-2 text-muted">VIP ROAD CCC</span>
						</div>

						<div
							class="d-flex flex-column cursor-pointer mb-3 rounded bg-light p-3"
							(click)="changeLocation('MOHALI')"
						>
							<span class="font-weight-bold">MOHALI:</span>
							<span class="mt-2 text-muted">Plaza 117, Mohali</span>
						</div>

						<div
							class="d-flex flex-column cursor-pointer mb-3 rounded bg-light p-3"
							(click)="changeLocation('AMRITSAR')"
						>
							<span class="font-weight-bold">AMRITSAR:</span>
							<span class="mt-2 text-muted"
								>284 D BLOCK RANJIT AVENUE</span
							>
						</div>
					</div>
				</div>

				<!-- Right Section: Map -->
				<div class="col-md-6 col-12">
					<div class="map-container">
						<iframe
							[src]="iframeSrc"
							width="100%"
							height="400"
							style="border: 0"
							allowfullscreen=""
							loading="lazy"
							referrerpolicy="no-referrer-when-downgrade"
						></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
