<div class="bg-light">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
          <h4 style="font-size: 3rem;" class="Montserrat-SemiBold">About our company</h4>
          <p class="lead text-muted mb-0 Montserrat-Medium small" style="text-align: justify">
            We started our journey from Punjab as Singla Slimming Clinic in 2003
            by our founders Dr.Anju Singla & Dr. Sushil Singla.After successfully
            leading the slimming and wellness industry continuously for 19 years
            and delivering good results to more then quarter of million people we
            came into the expansion mode for providing our services in other parts
            of country. We are now coming as TREBHA (WELLNESS & AESTHETICS).
            Trebha is a company specialised in providing services like
            non-surgical liposuction.Skin toning/ tightening and body shaping. Our
            state-of-the-art fat cavitation machine uses ultrasound technology to
            melt fat into fatty acids naturally without pain or invasive surgery.
          </p>
        </div>
        <div class="col-lg-6 d-none d-lg-block">
          <img src="../assets/images/skin14.png" alt="" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
  