header {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 120px;
    /* padding: 50px 0; */
    color: #fff;
    background: #9676374b
      url(https://www.athenadesignstudio.com/plugins/switch/images/bg.jpg)
      no-repeat center center;
    margin-bottom: 30px;
  }
  