<header>
  <div class="container py-5">
      <!-- Logo -->
      <div class="d-flex flex-column justify-content-center align-items-center" style="margin-top: 10px">
          <span class="Montserrat-Medium" style="color: #967737; font-size: 1.3rem;">Team Members</span>
      </div>

      <!-- <h1>Here are some moments of trebha !</h1> -->
  </div>
</header>
  
  <div class="container">
    <div class="row text-center" style="padding-bottom: 40px">
      <!-- Team item -->
      <div class="col-xl-6 col-sm-6 mb-5">
          <div class="card shadow-sm border-none">
              <div class="bg-white rounded py-5 px-4">
                <img
                  src="../../assets/images/blank-profile-picture-png.png"
                  alt=""
                  width="100"
                  class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
                />
                <h5 class="mb-0 Montserrat-Medium" style="color: black">Dr. Suhsil Singla</h5>
                <!-- <span class="small Montserrat-Medium text-uppercase text-muted">CEO - Founder</span> -->
                <ul class="social mb-0 list-inline mt-3">
                  <li class="list-inline-item">
                    <a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                  </li>
                </ul>
              </div>
          </div>
      </div>
      <!-- End -->
  
      <!-- Team item -->
      <div class="col-xl-6 col-sm-6 mb-5">
          <div class="card">
              <div class="bg-white rounded shadow-sm py-5 px-4">
                <img
                src="../../assets/images/blank-profile-picture-png.png"
                  alt=""
                  width="100"
                  class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
                />
                <h5 class="mb-0 Montserrat-Medium">Dr. Anju Singla</h5>
                <!-- <span class="small Montserrat-Medium text-uppercase text-muted">CEO - Founder</span> -->
                <ul class="social mb-0 list-inline mt-3">
                  <li class="list-inline-item">
                    <a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                  </li>
                </ul>
              </div>
          </div>
      </div>
      <!-- End -->
  
      <!-- Team item -->
      <!-- <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img
            src="https://bootstrapious.com/i/snippets/sn-team/teacher-1.jpg"
            alt=""
            width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
          />
          <h5 class="mb-0 Montserrat-Medium" >Petter</h5>
          <span class="small Montserrat-Medium text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div> -->
      <!-- End -->
  
      <!-- Team item -->
      <!-- <div class="col-xl-3 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img
            src="https://bootstrapious.com/i/snippets/sn-team/teacher-7.jpg"
            alt=""
            width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
          />
          <h5 class="mb-0 Montserrat-Medium">Tarly</h5>
          <span class="small Montserrat-Medium text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div> -->
      <!-- End -->
    </div>
  </div>
  