  <header>
        <div class="container py-5">
            <!-- Logo -->
            <div class="d-flex flex-column justify-content-center align-items-center" style="margin-top: 10px">
                <span class="Montserrat-Medium" style="color: #967737; font-size: 1.3rem;">Testimonials</span>
            </div>
    
            <!-- <h1>Here are some moments of trebha !</h1> -->
        </div>
    </header>
    
  <div class="container">
      <div class="row" style="padding-bottom: 40px">
        <div class="col-md-4 col-sm-6 content-card">
          <div class="card-big-shadow">
            <div
              class="card card-just-text"
              data-background="color"
              data-color="brown"
              data-radius="none"
            >
              <div class="content">
                <!-- <h6 class="category">Best cards</h6> -->
                <h4 class="title"><a href="#">Jenny</a></h4>
                <p class="description">
                  All the products of the trebha is very good itrs quality and
                  quantity both are very nice.I really liked it very much !
                </p>
              </div>
            </div>
            <!-- end card -->
          </div>
        </div>
    
        <div class="col-md-4 col-sm-6 content-card">
          <div class="card-big-shadow">
            <div
              class="card card-just-text"
              data-background="color"
              data-color="purple"
              data-radius="none"
            >
              <div class="content">
                <!-- <h6 class="category">Best cards</h6> -->
                <h4 class="title"><a href="#">Gauri</a></h4>
                <p class="description">
                  All the products of the trebha is very good itrs quality and
                  quantity both are very nice.I really liked it very much !
                </p>
              </div>
            </div>
            <!-- end card -->
          </div>
        </div>
    
        <div class="col-md-4 col-sm-6 content-card">
          <div class="card-big-shadow">
            <div
              class="card card-just-text"
              data-background="color"
              data-color="orange"
              data-radius="none"
            >
              <div class="content">
                <!-- <h6 class="category">Best cards</h6> -->
                <h4 class="title"><a href="#">Riana</a></h4>
                <p class="description">
                  All the products of the trebha is very good itrs quality and
                  quantity both are very nice.I really liked it very much !
                </p>
              </div>
            </div>
            <!-- end card -->
          </div>
        </div>
    
        <div class="col-md-4 col-sm-6 content-card">
          <div class="card-big-shadow">
            <div
              class="card card-just-text"
              data-background="color"
              data-color="blue"
              data-radius="none"
            >
              <div class="content">
                <!-- <h6 class="category">Best cards</h6> -->
                <h4 class="title"><a href="#">Rosy</a></h4>
                <p class="description">
                  All the products of the trebha is very good itrs quality and
                  quantity both are very nice.I really liked it very much !
                </p>
              </div>
            </div>
            <!-- end card -->
          </div>
        </div>
    
        <div class="col-md-4 col-sm-6 content-card">
          <div class="card-big-shadow">
            <div
              class="card card-just-text"
              data-background="color"
              data-color="green"
              data-radius="none"
            >
              <div class="content">
                <!-- <h6 class="category">Best cards</h6> -->
                <h4 class="title"><a href="#">John</a></h4>
                <p class="description">
                  All the products of the trebha is very good itrs quality and
                  quantity both are very nice.I really liked it very much !
                </p>
              </div>
            </div>
            <!-- end card -->
          </div>
        </div>
    
        <div class="col-md-4 col-sm-6 content-card">
          <div class="card-big-shadow">
            <div
              class="card card-just-text"
              data-background="color"
              data-color="yellow"
              data-radius="none"
            >
              <div class="content">
                <!-- <h6 class="category">Best cards</h6> -->
                <h4 class="title"><a href="#">Peter</a></h4>
                <p class="description">
                  All the products of the trebha is very good itrs quality and
                  quantity both are very nice.I really liked it very much !
                </p>
              </div>
            </div>
            <!-- end card -->
          </div>
        </div>

  </div>
    </div>

  