<div
	class="container-fluid"
	style="
		background: linear-gradient(
			90deg,
			rgba(253, 253, 253, 1) 5%,
			rgba(253, 253, 253, 1) 5%,
			rgba(66, 149, 212, 0.1) 100%
		);
	"
>
	<div class="py-5">
		<div
			class="row d-flex justify-content-around align-items-start px-4"
		>
			<!-- Logo and Description -->
			<div class="col-lg-4 col-md-6">
				<img
					src="../../../assets/images/singla-slimming-clinic-logo.png"
					alt="Clinic Logo"
					width="200px"
					height="auto"
				/>
				<p class="mt-3">
					<span class="font-weight-bold"> Your body is a gift, </span>
					one that deserves expert guidance, not endless struggles and
					guilt. Trust it in the hands of a doctor who understands its
					needs, and you will finally break free from the cycle of
					temporary fixes. Because true transformation is about
					healing from within
				</p>
				<div class="mt-3">
					<p class="font-weight-bold" style="font-size: 1.3rem">
						The best time to start was yesterday. The next best time
						is NOW
					</p>
					<button
  onclick="window.location.href='https://wa.me/+918146300892'"
  class="btn btn-primary"
>
  Book an Appointment
</button>

				</div>
			</div>

			<!-- Menu Section -->
			<div class="col-lg-4 col-md-6">
				<div class="row">
					<div
						class="col-6 mt-3 mb-2"
						*ngFor="let mainItem of menuObjList"
					>
						<div
							*ngIf="mainItem.list.length > 0"
							class="h6 mb-3 Montserrat-Medium font-weight-bold"
						>
							{{ mainItem.name }}
						</div>
						<div
							*ngIf="mainItem.list.length == 0"
							class="h6 mb-2 Montserrat-Medium"
						>
							<a [routerLink]="mainItem.link" style="color: inherit">
								{{ mainItem.name }}
							</a>
						</div>
						<div
							*ngIf="mainItem.list.length > 0"
							class="small Montserrat-Medium"
						>
							<div *ngFor="let subOneItem of mainItem.list">
								<div *ngIf="subOneItem.list.length > 0" class="mb-2">
									{{ subOneItem.name }}
								</div>
								<div *ngIf="subOneItem.list.length == 0" class="mb-2">
									<a
										[routerLink]="subOneItem.link"
										style="color: inherit"
									>
										{{ subOneItem.name }}
									</a>
								</div>
								<div *ngIf="subOneItem.list.length > 0">
									<div *ngFor="let subTwoItem of subOneItem.list">
										<div class="ms-4 mb-2">
											<a
												[routerLink]="subOneItem.link"
												style="color: inherit"
											>
												{{ subTwoItem.name }}
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Contact Information -->
			<div class="w-25">
				<div class="col-lg-12 flex-grow">
					<div class="d-flex mb-0">
						<p class="font-weight-bold" style="font-size: 1.4rem">
							Start Your Transformation Now!
						</p>
					</div>
					<p class="font-weight-bold" style="font-size: 1.1rem">
						Contact Number:
						<span class="font-weight-normal">8146300892</span>
					</p>

					<div class="mt-1">
						<p
							class="font-weight-bold"
							style="font-size: 1.5rem; margin-bottom: 1rem"
						>
							Addressess
						</p>
						<div
							class="d-flex align-items-start justify-content-between"
						>
							<div class="mr-7">
								<div class="d-flex align-items-center mb-3">
									<i class="bi bi-geo-alt-fill mr-2"></i>
									<span
										class="font-weight-bold"
										style="font-size: 1.1rem"
										>Ludhiana</span
									>
								</div>
								<p>2E, SARABHA NAGAR MALHAR ROAD</p>

								<div class="d-flex align-items-center mb-3">
									<i class="bi bi-geo-alt-fill mr-2"></i>
									<span
										class="font-weight-bold"
										style="font-size: 1.1rem"
										>Firozpur</span
									>
								</div>
								<p>27 BANK COLONY, BAGHI ROAD</p>

								<div class="d-flex align-items-center mb-3">
									<i class="bi bi-geo-alt-fill mr-2"></i>
									<span
										class="font-weight-bold"
										style="font-size: 1.1rem"
										>Jalandhar</span
									>
								</div>
								<p>MKC Mall, 461 NEW JAWAHAR NAGAR</p>
							</div>
							<div class="ml-7">
								<div class="d-flex align-items-center mb-3">
									<i class="bi bi-geo-alt-fill mr-2"></i>
									<span
										class="font-weight-bold"
										style="font-size: 1.1rem"
										>Zirakpur</span
									>
								</div>
								<p>VIP ROAD CCC</p>
								<div class="d-flex align-items-center mb-3">
									<i class="bi bi-geo-alt-fill mr-2"></i>
									<span
										class="font-weight-bold"
										style="font-size: 1.1rem"
										>Mohali</span
									>
								</div>
								<p>PLAZA 117</p>
								<div class="d-flex align-items-center mb-3">
									<i class="bi bi-geo-alt-fill mr-2"></i>
									<span
										class="font-weight-bold"
										style="font-size: 1.1rem"
										>Amritsar</span
									>
								</div>
								<p>284 D BLOCK RANJIT AVENUE</p>
							</div>
						</div>
					</div>

					<div class="d-flex align-items-center mt-3">
						<i
							class="bi bi-envelope-fill mr-2"
							style="font-size: 1.1rem"
						></i>
						<p class="mb-0" style="font-size: 1.1rem">
							singlaslimmingclinic&#64;gmail.com
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr />
	<div
		class="container d-flex Montserrat-SemiBold mt-3 pb-3 flex-row justify-content-between"
	>
		<div>Copyright Singla Slimming Clinic</div>
		<div>Developed by Auribises Technologies</div>
	</div>
</div>
