<!-- <div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h4 class="display-4">Photo Facial</h4>
        <p class="lead text-muted mb-0" style="text-align: justify">
          No matter how much we take care to reduce the signs of ageing,
          stubborn brown spots can be a give-away. Some know these by different
          names - age spots, freckles, lentigines, or liver spots. There are a
          range of different types of pigmentation which vary in appearance,
          what depth the skin they lie, and how responsive they are to
          treatment. <br />Benefits:
        </p>
        <ul class="lead text-muted mb-0">
          <li>Improve skin tone</li>
          <li>Reduce rosacea and thread facial vein</li>
          <li>Reduce facial wrinkles and fine lines</li>
          <li>Treat sun damage including age spots and brown pigmentation</li>
          <li>Firming and tightening the skin</li>
          <li>Stimulate new collagen and elastin tissue production</li>
        </ul>
      </div>
      <div class="col-lg-6 d-none d-lg-block">
        <img src="../assets/images/skin15.jpeg" alt="" class="img-fluid" />
      </div>
    </div>
  </div>
</div> -->

<div style="margin-top: 80px; margin-bottom: 80px">
  <div class="col" style="position: relative">
    <div
      class="text-center text-title"
      style="margin-top: 60px; margin-bottom: 60px"
    ></div>

    <div
      class="container text-center d-flex flex-column justify-content-center"
      style="margin-top: 30px; margin-bottom: 40px"
    >
      <div class="row d-flex align-items-center">
        <div
          class="col-md-5 d-flex flex-column justify-content-center align-items-center"
          style="margin-right: -80px; z-index: 1"
        >
          <div class="col-lg-12 col-md-12 col-sm-12 text-center img-hover-zoom">
            <img
              src="../assets/images/skin15.jpeg"
              class="img-fluid"
              alt="Image"
            />
          </div>
        </div>
        <div
          class="col-md-7 text-justify d-flex flex-column justify-content-center align-items-center custom"
          style="
            color: black;
            color: #47347a;
            font-weight: 400;
            font-size: 15px;
            line-height: 200%;
            background-color: #ededff;
          "
        >
          <h4 class="display-4 Montserrat-Regular" style="color: black">Photo Facial</h4>

          <p class="lead text-muted mb-0 Montserrat-Regular" style="text-align: justify">
            No matter how much we take care to reduce the signs of ageing,
            stubborn brown spots can be a give-away. Some know these by
            different names - age spots, freckles, lentigines, or liver spots.
            There are a range of different types of pigmentation which vary in
            appearance, what depth the skin they lie, and how responsive they
            are to treatment. <br />Benefits:
          </p>
          <ul class="lead text-muted mb-0 Montserrat-Regular">
            <li>Improve skin tone</li>
            <li>Reduce rosacea and thread facial vein</li>
            <li>Reduce facial wrinkles and fine lines</li>
            <li>Treat sun damage including age spots and brown pigmentation</li>
            <li>Firming and tightening the skin</li>
            <li>Stimulate new collagen and elastin tissue production</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
