/* Blog Section - Square Grid Layout */
.container.blog-container {
	display: grid;
	grid-template-columns: repeat(
		auto-fill,
		minmax(280px, 1fr)
	); /* Ensures square-like grids */
	gap: 20px;
	padding-bottom: 50px;
}

/* Blog Item Styling */
.blog-item {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	transition: transform 0.3s ease-in-out;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.blog-item:hover {
	transform: scale(1.05);
}

.blog-item img,
.blog-item video {
	width: 100%;
	height: 200px; /* Set a fixed height for consistency */
	object-fit: scale-down;
}

.blog-item-content {
	padding: 15px;
	flex-grow: 1;
}

.blog-item-description {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3; /* Limit description to 3 lines */
	overflow: hidden;
	text-overflow: ellipsis;
}

.blog-item-description.expanded {
	-webkit-line-clamp: unset; /* Remove the line clamp when expanded */
}

.read-more {
	font-size: 0.875rem;
	color: #967737;
	text-decoration: underline;
	background: none;
	border: none;
	cursor: pointer;
}

/* Award Section Styling */
.container.py-5.award-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
}

.container.py-5.award-container img {
	max-width: 45%;
	border-radius: 10px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.container.py-5.award-container .award-content {
	max-width: 50%;
	padding-left: 20px;
}
header {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 120px;
	/* padding: 50px 0; */
	color: #fff;
	background: #9676374b
		url(https://www.athenadesignstudio.com/plugins/switch/images/bg.jpg)
		no-repeat center center;
	margin-bottom: 30px;
}
